.root {
    -fx-background-image: url("/images/montagne.jpeg");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

/* Style général de la page */
#mainBorderPane {
    -fx-background-color: white;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-padding: 10;
}

#sidebar {
    -fx-background-color: #2E3B4E;
    -fx-padding: 20px 0;
}

.sidebar-button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-pref-width: 150px;
    -fx-alignment: CENTER_LEFT;
    -fx-graphic-text-gap: 10px;
    -fx-padding: 10px 20px;
}

.sidebar-button:hover {
    -fx-background-color: #3E4B5E;
}

.logout-button {
    -fx-text-fill: #ff6b6b;
}

.content-area {
    -fx-background-color: white;
    -fx-border-color: #ccc;
    -fx-border-width: 1px;
    -fx-padding: 20px;
}

.title-label {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.jour-dispo {
    -fx-background-color: #27ae60;
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-border-color: #ccc;
    -fx-pref-width: 100px;
    -fx-pref-height: 100px;
    -fx-font-size: 16px;
}

.jour-indispo {
    -fx-background-color: #e74c3c;
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-border-color: #ccc;
    -fx-pref-width: 100px;
    -fx-pref-height: 100px;
    -fx-font-size: 16px;
}

.jour-neutre {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-alignment: center;
    -fx-border-color: #ccc;
    -fx-pref-width: 100px;
    -fx-pref-height: 100px;
    -fx-font-size: 16px;
}


/* Bouton confirmer */
.primary-button {
    -fx-background-color: #2196F3;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 5px 15px;
}

.grid-cell {
    -fx-border-color: #999;
    -fx-border-width: 1;
    -fx-alignment: center;
    -fx-pref-height: 80;
    -fx-pref-width: 100;
    -fx-font-size: 14px;
}

